<?xml version="1.0" encoding="UTF-8" ?>  
  
<!DOCTYPE configuration PUBLIC   
	"-//mybatis.org//DTD Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">  
  
<configuration>
	<!-- log4j2日志打印 -->
	<settings>
		<setting name="defaultStatementTimeout" value="3"/>
		<setting name="logImpl" value="LOG4J2"/>
		<!--开启二级缓存-->
		<setting name="cacheEnabled" value="true"/>
	</settings>
	<typeAliases>
		<!--别名的设置-->
		<typeAlias alias="page" type="com.yz.shiro.server.utils.Page"/>
	</typeAliases>
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor"/>
	</plugins>
</configuration> 