<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="hello-world-app"  />
    <!-- dubbo接口去除注册中心，采用直连的方式  -->
    <dubbo:registry address="N/A" />
    <dubbo:protocol name="dubbo" port="20880" />

    <dubbo:service interface="com.yz.shiro.api.remote.RemoteService" ref="remoteService" />
    <dubbo:service interface="com.yz.shiro.api.service.UserService" ref="userServiceImpl" />
    <dubbo:service interface="com.yz.shiro.api.service.ResourceService" ref="resourceServiceImpl" />
</beans>